@import 'variables';

.card__weather{
 padding: 150px 30px 50px;
}
.grid__container {
  display: grid;
  //   grid-gap: 35px;
  grid-template-columns: auto auto;
  background-color: #fff;
  margin: 0 10% 5%;
  padding: 5%;
  border-radius: 10px;
  @media screen and (max-width: 920px) {
    grid-template-columns: auto;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
  }
}

.grid1,
.grid2,
.grid3,
.grid4 {
  margin: 0 20px;
}

.grid1 {
  margin-block-end: 45px;
  p {
    font-size: 150%;
    font-style: bold;
  }
  div {
    display: flex;

    .left {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      img {
        padding: auto;
        margin: 10px 0;
        height: 150px;
      }
    }
    .right {
      flex-grow: 2.5;
      display: flex;

      flex-flow: column;
      justify-content: center;
    }
  }
  p {
    font-size: 150%;
    font-style: bold;
  }


  
}

