@import 'variables';

.place__weather {

  &__list__items {
    display: block;
    align-self: center;
    flex-direction: column;
    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding: 10px 0;
      justify-content: space-between;
      font-size: 1.2rem;
    }
  }

}
